<div class="col-md-5">
    <div class="form-group">
        <label>Currency I Have</label>
        <select class="form-control" ng-model="$ctrl.fromCurrency">
          <option value="USD">USD</option>
          <option value="RUB">RUB</option>
          <option value="EUR">EUR</option>
        </select>
        <label>Amount</label>
        <input type="text" class="form-control" ng-model="$ctrl.fromAmount">
    </div>
</div>
<div class="col-md-2 text-center">
    <button class="btn btn-primary" ng-click="$ctrl.convert()">Convert</button>
</div>
<div class="col-md-5">
    <div class="form-group">
        <label>Currency I Want</label>
        <select class="form-control" ng-model="$ctrl.toCurrency">
          <option value="USD">USD</option>
          <option value="RUB">RUB</option>
          <option value="EUR">EUR</option>
        </select>
        <label>Amount</label>
        <input type="text" class="form-control" value={{$ctrl.toAmount}}>
    </div>
</div>
